body {
  font-family: 'Noto Sans', sans-serif;
  background-color: pink;
  text-align: center; }

body .container {
  max-width: 3000px; }

h1 {
  font-family: 'Noto Sans', sans-serif;
  color: black;
  font-size: 80px;
  padding-top: 40px; }

h2 {
  font-family: 'Noto Sans', sans-serif;
  color: black;
  font-size: 40px;
  padding-top: 40px; }

h3 {
  font-family: 'Noto Sans', sans-serif;
  color: black;
  font-size: 20px;
  padding-top: 20px; }
